<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Générateur de Mot de Passe</title>
</head>
<body>
    <h1>Générateur de Mot de Passe</h1>

	<form action="/password/generate" method="post" th:object="${request}">
	    <label for="length">Longueur du mot de passe :</label>
	    <input type="number" id="length" th:field="*{length}" min="6" max="30" required><br><br>

	    <label for="includeNumbers">Inclure des chiffres :</label>
	    <input type="checkbox" id="includeNumbers" th:field="*{includeNumbers}"><br><br>

	    <label for="includeSpecialChars">Inclure des caractères spéciaux :</label>
	    <input type="checkbox" id="includeSpecialChars" th:field="*{includeSpecialChars}"><br><br>

	    <button type="submit">Générer</button>
	</form>

	<div th:if="${password}">
	    <h2>Mot de passe généré :</h2>
	    <p th:text="${password}"></p>
	</div>


</body>
</html>
